%h2 Board
%div{align: 'center'}
  %a{href: '/img/board.jpg', target: '_blank'}
    %img{src: '/img/board.jpg', width: 500}
%p
  Please note that the middle star square, which the game starts on, is also a
  double word score tile.

%h2 More Modifier Rules
%ul
  %li
    Modfiers are cumulative
  %li
    Letter modifiers come first, then word modifiers.
  %li
    If seven tiles have been laid out onto the board in one turn, after
    all of the words formed have been scored, 50 bonus points are added.