%h2 Getting Started
%ol
  %li
    Read the rules for Scrabbli
  %li
    Make sure that your name and language of choice are on the
    %a{href:'/assignments'} assignments
    page.
  %li
    Get started on your implementation.
  %li
    ???
  %li
    PROFIT