%h2 Making a Play
%p
  The first played word must be at least two letters long, and cover H8 (the center square).
  Thereafter, any play using one or more tiles can be formed by
  %ul
    %li
      Adding one or more letters to an existing word, e.g. (JACK)S, HI(JACK),
      HI(JACK)ING.
    %li
      "Hooking" a word(s) and playing perpendicular to that word(s), e.g.
      IONIZES with the S hooked on JACK to make (JACK)S.
    %li
      Playing perpendicular to a word, e.g. JACK, then YEU(K)Y through the K.
    %li
      Playing parallel to a word(s) forming several short words, e.g. JACK, then CON played under that to make (J)O and (A)N.
  Any combination of these is allowed in a play, given that all the letters in
  each play lie on a straight line and are connected by a main word. Plays must
  read either left-right or top-bottom. Diagonal plays are not allowed.

%h3 Scoring
%p
  The score for any play is determined this way:
  %ul
    %li
      Each new word formed in a play is scored separately, and then those scores
      are added up. The value of each tile is indicated on the tile, and blank
      tiles are worth 0 points.
    %li
      The main word (defined as the word containing every played letter) is
      scored. The letter values of the tiles are added up, and tiles placed on
      DLS and TLS are doubled and tripled in value, respectively. Tiles placed
      on DWS or TWS squares double or triple the value of the word(s) that
      include those tiles.
    %li
      If any "hook" words are played (e.g. playing ANEROID while "hooking" the
      A to BETTING to make ABETTING), the scores for each word are added separately.
      This is common for "parallel" plays that make up to eight words in one turn.
    %li
      Premium squares apply only when newly placed tiles cover them. Any
      subsequent plays do not count those premium squares.
    %li
      If a player makes a play where the main word covers two DWS squares, the
      value of that word is doubled, then redoubled (i.e. 4× the word value).
      Similarly, if the main word covers two TWS squares, the value of that word
      is tripled, then retripled (9× the word value). Such plays are often
      referred to as "double-doubles" and "triple-triples" respectively. It is
      theoretically possible to achieve a play covering three TWS squares (a 27×
      word score), although this is extremely improbable without constructive setup
      and collaboration. Plays covering a DWS and a TWS simultaneously (6× the word
      value, or 18× if a DWS and two TWS squares are covered) are only possible if
      a player misses the center star on the first turn, and the play goes
      unchallenged (this is valid under North American tournament rules).
    %li
      Finally, if seven tiles have been laid on the board in one turn (known as
      a "bingo" in North America, a "scrabble" in Spain and France, and a "bonus"
      elsewhere), after all of the words formed have been scored, 50 bonus points
      are added.
    %li
      When the letters to be drawn have run out, the final play can often determine
      the winner. This is particularly the case in close games with more than two
      players.