%h2 Problem
%p
  Make a scrabble player that reads a board and its hand tiles, and then gives
  back a word and its location. It does not need to do anything but produce a
  word, its location, and its direction when it is its turn. You do not need
  to simulate the game, though you should review your board and hand every
  turn. We will tell you when you need to manually update your tiles for
  another player's move.