%h2 Awards
%p
  There will be awards.  You must be able to run at least five turns to qualify.
.row-fluid
  .span4
    %h3 First Place
    %ul
      %li Winner: TBA
  .span4
    %h3 Second Place
    %ul
      %li Winner: TBA
  .span4
    %h3 Third Place
    %ul
      %li Winner: TBA
.row-fluid
  .span4
    %h3 Least Lines of Code
    %ul
      %li Winner: TBA
  .span4
    %h3 Most Lines of Code
    %ul
      %li Winner: TBA
  .span4
    %h3 DRY-est code
    %ul
      %li Winner: TBA
.row-fluid
  .span4
    %h3 Compilation Loser*
    %ul
      %li Winner: TBA
  .span4
    %h3 Runtime Loser*
    %ul
      %li Winner: TBA
  .span4
    %h3 Fastest
    %ul
      %li Winner: TBA
.row-fluid
  .span4
    %h3 Least Commits
    %ul
      %li Winner: TBA
  .span4
    %h3 Most Commits
    %ul
      %li Winner: TBA
  .span4
    %h3 Best UI
    %ul
      %li Winner: TBA
.row-fluid
  .span4
    %h3 Best UX
    %ul
      %li Winner: TBA
  .span4
    %h3 Most Ridiculous Word
    %ul
      %li Winner: TBA
  .span4
    %h3 Highest Scoring Word
    %ul
      %li Winner: TBA
.row-fluid
  .span4
    %h3 Most Words in One Turn
    %ul
      %li Winner: TBA
  .span4
    %h3 Jankiest Implementation
    %ul
      %li Winner: TBA
  .span4
    %h3 Most Awards
    %ul
      %li Winner: TBA
%br
* does not need to meet the 5 turns requirement