%p
  Welcome to the website for Scrabbli, a new, short project by a few
  %a{href:'http://sse.se.rit.edu'} SSE
  members and alums.
%h2 About Scrabbli
%p
  Scrabbli is a simple contest where the participants create a scrabble solver
  that given their hand and the current state of the board, return the best next move (i.e.
  highest scoring word)

%p
  To make coding more fun, everyone participating will be writing their
  solutions in different languages (for the most part).

%h2 Scrabbli Redux

%p
  So none of us completed our scrabble solvers the first time around. So we've decided to bring
  it back. Starting this summer begins the scrabbli redux where hopefully we can all finish what
  we've started. Same rules apply. No limits on languages anymore and you can start over in a
  completely new language if you would like.  Whatever floats your boat. The sky's the limit. We
  are welcoming new participants as well.

#sse-seal
  %img{src: "img/approvedOlives2.png", width:'400' }