<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
	<!-- basic info -->
	<title>Scrabbli</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css -->
	<link rel="stylesheet" href="css/bootswatch-spacelab.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<!-- icons -->
	<!--<link rel="icon" href="favicon.ico">-->
</head>

<body>

	<div class="container-fluid" id="main-column">
		<nav class="navbar">
		 	<div class="navbar-inner">
				<a class="brand" href="/">Scrabbli</a>
				<%= render_navigation :expand_all => true, :renderer => :bootstrap %>
			</div>
		</nav>
		<div id="content">
			<%= yield %>
		</div>
	</div>
	<script src="js/jquery.js"></script>
	<script src="css/js/bootstrap.min.js"></script>
</body>
</html>