!!! 5
%html
  %head
    %title Scrabbli
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", href: "/css/bootswatch-spacelab.min.css"}
    %link{rel: "stylesheet", href: "/css/styles.css"}
    %link{rel: "stylesheet", href: "/css/font-awesome.min.css"}
    %link{rel: "stylesheet", href: '/css/bootstrap-responsive.min.css'}
    %link{rel: "icon", href: "/img/favicon.ico"}
  %body
    .container-fluid#main-column
      %nav.navbar
        .navbar-inner
          %a.brand{href: '/'} Scrabbli
          = render_navigation expand_all: true, :renderer=>:bootstrap
      #content
        = yield
    %script{src: 'http://code.jquery.com/jquery-1.9.1.min.js'}
    %script{src: '/js/bootstrap.min.js'}