<h2>Getting Started</h2>
<ol>
  <li>Read the rules for Scrabbli.</li>
  <li>Make sure that your name and language of choice are on the <a href="/assignments">assignments</a> page.</li>
  <li>Get started on your implementation.</li>
  <li>???</li>
  <li>PROFIT</li>
</ol>
<h2>Schedule</h2>
<ul>
  <li>Preliminaries: TBD</li>
  <li>Tournament: TBD
    <ul>
      <li>There will be awards.</li>
      <li>You must be able to run at least 5 turns to qualify.</li>
      <li>Example: "Derpiest Language"</li>
    </ul>
  </li>
</ul>

<h2>Problem</h2>
Make a scrabble player that reads a board and its hand tiles, and then gives
back a word and its location. It does not need to do anything but produce a
word, its location, and its direction when it is its turn. You do not need
to simulate the game, though you should review your board and hand every
turn. We will tell you when you need to manually update your tiles for
another player's move.

<h2>Letters</h2>
<h3>Points</h3>
<ul>
  <li>0  points: <b>blank</b></li>
  <li>1  points: <b>E</b>, <b>A</b>, <b>I</b>, <b>O</b>, <b>N</b>, <b>R</b>, <b>T</b>, <b>L</b>, <b>S</b>, <b>U</b></li>
  <li>2  points: <b>D</b>, <b>G</b></li>
  <li>3  points: <b>B</b>, <b>C</b>, <b>M</b>, <b>P</b></li>
  <li>4  points: <b>F</b>, <b>H</b>, <b>V</b>, <b>W</b>, <b>Y</b></li>
  <li>5  points: <b>K</b></li>
  <li>8  points: <b>J</b>, <b>X</b></li>
  <li>10 points: <b>Q</b>, <b>Z</b></li>
</ul>
<h3>Distributions</h3>
<ul>
  <li> 1 tile: <b>J</b>, <b>K</b>, <b>Q</b>, <b>X</b>, <b>Z</b></li>
  <li> 2 tiles: <b>B</b>, <b>C</b>, <b>F</b>, <b>H</b>, <b>M</b>, <b>P</b>, <b>V</b>, <b>W</b>, <b>Y</b>, <b>blank</b></li>
  <li> 3 tiles: <b>G</b></li>
  <li> 4 tiles: <b>D</b>, <b>L</b>, <b>S</b>, <b>U</b></li>
  <li> 6 tiles: <b>N</b>, <b>R</b>, <b>T</b></li>
  <li> 8 tiles: <b>O</b></li>
  <li> 9 tiles: <b>A</b>, <b>I</b></li>
  <li> 12 tiles: <b>E</b></li>
</ul>

<h2>Board</h2>
<div align="center">
  <a href="img/board.jpg" target="_blank"><img src="img/board.jpg" width="500"></a>
</div>
Please note that the middle star square, which the game starts on, is also a
double word score tile.

<h2>More Modifier Rules</h2>
<ul>
  <li>Modifiers are cumulative.</li>
  <li>Letter modifiers come first, then word modifiers.</li>
  <li>If seven tiles have been laid out onto the board in one turn, after
  all of the words formed have been scored, 50 bonus points are added.</li>
</ul>

<h2>Dictionary</h2>
We will all be using the same dictionary for scrabbli. You can download it
<a href="downloads/dictionary.txt" target="_blank">here</a>.