%h2 Getting Started
%ol
  %li
    Read the rules for Scrabbli
  %li
    Make sure that your name and language of choice are on the
    %a{href:'/assignments'} assignments
    page.
  %li
    Get started on your implementation.
  %li
    ???
  %li
    PROFIT
%h2 Schedule
%ul
  %li
    Preliminaries: TBD
  %li
    Tournament: TBD
    %ul
      %li
        There will be awards.
      %li
        You must be able to run at least 5 turns to qualify.
      %li
        Example: "Derpiest language"

%h2 Problem
%p
  Make a scrabble player that reads a board and its hand tiles, and then gives
  back a word and its location. It does not need to do anything but produce a
  word, its location, and its direction when it is its turn. You do not need
  to simulate the game, though you should review your board and hand every
  turn. We will tell you when you need to manually update your tiles for
  another player's move.

%h2 Letters
%h3 Points
%ul
  %li
    0 points:
    %b blank
  %li
    1 points:
    %b E, A, I, O, N, R, T, L, S, U
  %li
    2 points:
    %b D, G
  %li
    3 points:
    %b B, C, M, P
  %li
    4 points:
    %b F, H, V, W, Y
  %li
    5 points:
    %b K
  %li
    8 points:
    %b J, X
  %li
    10 points:
    %b Q, Z

%h3 Distributions
%ul
  %li
    1 tile:
    %b J, K, Q, X, Z
  %li
    2 tiles:
    %b B, C, F, H, M, P, V, W, Y, blank
  %li
    3 tiles:
    %b G
  %li
    4 tiles:
    %b D, L, S, U
  %li
    6 tiles:
    %b N, R, T
  %li
    8 tiles:
    %b O
  %li
    9 tiles:
    %b A, I
  %li
    12 tiles:
    %b E

%h2 Board
%div{align: 'center'}
  %a{href: 'img/board.jpg', target: '_blank'}
    %img{src: 'img/board.jpg', width: 500}
%p
  Please note that the middle star square, which the game starts on, is also a
  double word score tile.

%h2 More Modifier Rules
%ul
  %li
    Modfiers are cumulative
  %li
    Letter modifiers come first, then word modifiers.
  %li
    If seven tiles have been laid out onto the board in one turn, after
    all of the words formed have been scored, 50 bonus points are added.

%h2 Dictionary
%p
  We will all be using the same dictionary for scrabbli. You can download it
  %a{href:"downloads/dictionary.txt", target:"_blank"} here
