%h2 Schedule
%p
  Currently pretty much everything is TBD. The first time we tried this, our
  schedule was completely flawed because nobody finished. So this time we are just
  goint to play it by ear and decide deadlines when people are closer to finishing.

%ul
  %li
    Preliminaries: TBD
  %li
    Tournament: TBD
    %ul
      %li
        There will be awards.
      %li
        You must be able to run at least 5 turns to qualify.
      %li
        Example: "Derpiest language"